<%- include ../partials/header.ejs %>

<!--File Name: about.ejs
Student Name : Yashasviben Patel
Student ID:301207828
Date:2/10/2021 -->

<%- include ../partials/main_content.ejs %>

<html>
  <style>
     body{
      background-color:darkkhaki;

    }
  </style>
<body>	
<table cellspacing="10" cellpadding="10">
<tr>
<td>
  <h1 class="title">Yashasvi patel</h1>
<p  align ="left">My name is Yashasviben Patel, and i am from biggest democratic country INDIA. 
  In order to pursue my passion to get the background knowledge of the advanced gadgets like Computers and mobiles, 
  I successfully completed Bachelors of Engineering in Computer in the year of
    2020 from Madhuben and Bhanubhai Patel Institute of Technology(MBIT), New Vallabh Vidhyanagar affiliated to Gujarat Technological University. 
    Besides of this i like to do singing and writing content.</p> <!-- about me content -->

    <p><a href="https://docs.google.com/document/d/16ERORyIMroCdhqHcqdgAZfpeZKqGuDKl/edit?usp=sharing&ouid=100939636799464635171&rtpof=true&sd=true">Find more about me here!!</a></p>
</td>
<td>
<img src="Assets\images\yasu.jpg" height="500" weidth="500"  valign="top"/>
</td>
</div>
</body>

<%- include bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>