<!--File Name: home.ejs
Student Name : Yashasviben Patel
Student ID:301207828
Date:2/10/2021 -->


<%- include ../partials/header.ejs %>

<%- include ../partials/main_content.ejs %>
<!DOCTYPE html>
<html>
<head>
<style>
body {
   
  background-image: url('Assets/images/bg.png');
 
}
</style>
</head>
<body>


    <h2 style="text-align:center">HEY THERE...!</h2>





<p style="color: white;"> We are greatful to have you here</p></br> <!-- Welcome message --> 
<p style="color: white;"> Please press the below button to findout more about developer..</p>

</body>
</html>

<a style="color: white;" href="/about">ABOUT ME</a> <!-- redirect button which allow user to move from home page to about me page  -->



  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>